<!--The content below is only a placeholder and can be replaced.-->

<div class="container wishlist">
  <div class="row">
    <div class="col-md-4">

      <app-inputs (selected)="onChange($event)" ></app-inputs>

    </div>
    <div class="col-md-6">
      <!-- <div *ngFor="let item of appItems" >
                <app-counter [name]="item.name"> </app-counter>
        </div> -->
      <div class="card" style="width: 18rem; float:right">
        <div class="card-body">
          <h5 class="card-title" style="display:inline-block">Wishlist</h5>
          <h5>Total Amount:{{this.total}}</h5>
          <app-counter *ngFor="let app of data" [data]="app"  (deletedElement)="deleteSelected($event)"> </app-counter>
          
          
        </div>

        
      </div>


    </div>
  </div>
</div>
